{% extends 'base.html' %}

{% block title %}Add New Book{% endblock %}

{% block content %}
<h2>Add New Book</h2>

<!-- Device Form -->
<form method="POST" action="{{ url_for('add_book') }}">
    {{ form.hidden_tag() }}

    <label for="{{ form.book_name.id }}">Book Name:</label><br>
    {{ form.book_name(size=30) }}<br><br>

    <label for="{{ form.book_type.id }}">Book Type:</label><br>
    {{ form.book_type(size=30) }}<br><br>

    <label for="{{ form.publisher.id }}">Publisher:</label><br>
    {{ form.publisher(size=30) }}<br><br>

    <label for="{{ form.location.id }}">Location:</label><br>
    {{ form.location(size=30) }}<br><br>

    <label for="{{ form.location_in_library.id }}">Location in Library:</label><br>
    {{ form.location_in_library(size=30) }}<br><br>

    <label for="{{ form.status.id }}">Status:</label><br>
    {{ form.status() }}<br><br>

    {{ form.submit_add() }}

</form>

{% endblock %}
